<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>DASHBOARD</title>
    
    
</head>
<body>
    <H1>ADMIN DASHBOARD</H1>
     <br>
     <!--            create new flight           -->
     <h3>CREATE NEW FLIGHT</h3>
     <form action="/createFlight" method="post">
        <div class="form">
             
            <label for="">flightID </label>
            <input name="flightID" placeholder="ENTER 4 DIGIT NO." maxlength="4" pattern="\d{4}" required type="text">

            <label for="">Source </label>
            <input name="source" placeholder="source" type="text" required>
            
            <label for="">Destination</label>
            <input type="text"   name="Destination" placeholder="destination " required>
            

            <label for="">Date </label>
            <input name="Date" placeholder="mm/dd/yyyy" type="date" required>

            <label for="">Airplane Name </label>
           
            
            <select id="myDropdown">
                <option value="PK-100">PK-100</option>
                <option value="PK-101">PK-101</option>
                <option value="PK-102">PK-102</option>
                <option value="PK-103">PK-103</option>
                <option value="PK-104">PK-104</option>
                <option value="PK-105">PK-105</option>
                <option value="PK-106">PK-106</option>

                
            </select>
              
            <input type="hidden" id="selectedValueInput"  name="AirplaneName" placeholder="AirplaneName" required readonly>




            <label for="">Terminal </label>
            <input name="Terminal"  placeholder="terminal" type="text"required>


            <label for="">Departure Time </label>
            <input name="Departure" type="time"   placeholder="Departure time" required >

            <label for="">Arrival Time </label>
            <input name="Arrival"  type="time"   placeholder="Arrivaltime" required>

            <H4>ENTER BUSINESS CLASS DETAILS</H4>

            <label for="">Total Seats </label>
            <input name="BTotalSeats" placeholder="min 20 max 60" type="number" min="20" max="60" required>

            <label for="">Price </label>
            <input name="BPrice" placeholder="min 50000 max 400000" type="number" min="50000" max="400000" required>

            <label for="">Discount </label>
            <input name="BDiscount" placeholder=" max 60" type="number"  max="60" required>


            <H4>ENTER ECONOMY CLASS DETAILS</H4>

            <label for="">Total Seats </label>
            <input name="ETotalSeats" placeholder="min=50 max=100" type="number" min="50" max="100" required>

            <label for="">Price </label>
            <input name="EPrice" placeholder="min=50000 max=400000" type="number" min="50000" max="400000" required>

            <label for="">Discount </label>
            <input name="EDiscount" placeholder="max=60" type="number"  max="60" required>
              

        </div>
        <br>
        <button name="submit" type="submit">Create flight!</button>
     </form>
     <br>
     <hr>
     <h1>DELETE UPDATE OR SEARCH FLIGHT BY CLICKING ON THIS BUTTON</h1>
     <form action="/admincrudoperations" method="get">
        <button name="submit" type="submit">delete update or search flight</button>
    </form>

     <br>
    <hr>
    <h1>LOGOUT</h1>
    <form action="/logout" method="post">
        <button name="submit" type="submit">LOG OUT</button>
    </form>
    <!-- ***************************************** -->
    <script src="js/admin.js"></script>
    <!-- ****************************************** -->
</body>
</html>